In [1]:
from pyhive import hive

In [2]:
connection = hive.Connection(host='localhost',
                          port=10000,
                          database='project',
                          username='root')

In [113]:
cursor=connection.cursor()

In [114]:
cursor.execute('show tables')
print(cursor.fetchall())

[('datatype',), ('movie',), ('ratings',), ('ratings2',), ('text2',)]

### three complicated data types
1. array 
2. map
3. structure

In [117]:
cursor.execute('select * from datatype')
cursor.fetchall()

[('Michael', '{"Math":90,"Physics":85}', '["NJ","Piscataway"]', '{"age":17}'),
 ('Eric', '{"Math":80,"Physics":90}', '["CA","Irvine"]', '{"age":16}'),
 ('William', '{"Math":95,"Physics":95}', '["PA","Pittsburgh"]', '{"age":15}')]

In [122]:
cursor.execute('select name, score["Math"] from datatype')
cursor.fetchall()

[('Michael', 90), ('Eric', 80), ('William', 95)]

In [129]:
cursor.execute('select name, info.age from datatype')
cursor.fetchall()

[('Michael', 17), ('Eric', 16), ('William', 15)]

In [ ]:
cursor.execute('select name, address[0] from datatype')
cursor.fetchall()

In [77]:
sql_1='select a.id as movieid, a.moviename as moviename, substr(a.moviename,-6,4) as years,\
avg(b.ratings) as avgrate from movie a join ratings b on a.id=b.movieid group by a.id, a.moviename'

cursor.execute(sql_1)

In [78]:
import pandas as pd
columns = [col[0] for col in cursor.description]  #get column name
result = [dict(zip(columns, row)) for row in cursor.fetchall()]
dataf=pd.DataFrame(result)
#dataf=dataf[columns]

In [125]:
dataf=dataf[columns]
dataf.head(10)

   movieid                             moviename years   avgrate
0        1                    "Toy Story (1995)"  1995  4.146846
1        2                      "Jumanji (1995)"  1995  3.201141
2        3             "Grumpier Old Men (1995)"  1995  3.016736
3        4            "Waiting to Exhale (1995)"  1995  2.729412
4        5  "Father of the Bride Part II (1995)"  1995  3.006757
5        6                         "Heat (1995)"  1995  3.878723
6        7                      "Sabrina (1995)"  1995  3.410480
7        8                 "Tom and Huck (1995)"  1995  3.014706
8        9                 "Sudden Death (1995)"  1995  2.656863
9       10                    "GoldenEye (1995)"  1995  3.540541